.logonav {
font-family: 'Lakki Reddy', cursive;
padding-top: 20px;
}
.foto {
  background-image: url("../img/me3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 60rem;
}
header {


}
h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
}
hr {
  border: 1px solid;
  width: 10%;
}
